/TAGS
/aclocal.m4
/autom4te.cache
*.log
/config.status
/configure.scan
/gram
.deps
.dirstamp
*.o
/Makefile
*~
/compile
/configure
/depcomp
/install-sh
/missing
/tap-driver.sh
/test-driver
/Makefile.in
